<nav>
  <div class="topnav">
	<div class="topnav_left" style="font-family: Monospace">
	  <a class="active" href="/">Home</a>
	  <a href="about">About</a>
    {% if userdata is defined %}
      <a href="logout">Logout</a>
    {% endif %}
	</div>
  <div class="topnav_right" style="font-family: Monospace">
    <a href='login_page'>
			{% if userdata is defined %}
				User: {{ userdata['username'].split('@')[0].split('+')[0] }} Score: {{ userdata | get_score }}
			{% else %}
				Login
			{% endif %}
		</a>
  </div>
  </div>
</nav>
