{% for post in posts %}
<br>
<div class="center" name="{{ post['pid'] }}">
<p>
<b>{{ post['user'] }}</b>
<p>
  {{ post['text'] }}
</p>
<div>
<input class="center" type="submit" value="NFTLY!" onclick="vote({{ post['pid'] }}, 'up')">
<b>{{ post['up'].__len__() - post['down'].__len__() }}</b>
<input type="submit" value="NOT NFTLY!" onclick="vote({{ post['pid'] }}, 'down')">
</div>
<p>
</div>
{% endfor %}
<script>
function vote(pid, direction) {
  post_request(`/vote/${pid}/${direction}`);
  window.location.reload();
}
</script>
