{% for post in posts %}
<br>
<div class="center" name="{{ post['pid'] }}">
<p>
<b>{{ post['user'] }}</b>
<p>
  {{ post['text'] }}
</p>
<div  class="updown">
<input class="buttonz" type="submit" value="  NFTLY!  " onclick="vote({{ post['pid'] }}, 'up')">
<b>{{ post['up'].__len__() - post['down'].__len__() }}</b>
<input class="buttonz" type="submit" value="NOT NFTLY!" onclick="vote({{ post['pid'] }}, 'down')">
<input class="buttonz" type="submit" value="Delete" onclick="post_request('delete/{{ post['pid'] }}')">
</div>
<p>
</div>
{% endfor %}
<script>
function vote(pid, direction) {
  post_request(`/vote/${pid}/${direction}`);
  window.location.reload();
}
</script>
