<!DOCTYPE html>
<html lang="en">
<style>
	.about {
		margin: 20%;
		border: 3px solid #GREEN;
		background-color: #f2f2f2;
		
  }
</style>
{% include './partials/header.html' %}
{% include './partials/nav.html' %}
	<body style="background-color:#333">
		<section id="about">
	      <div class="about">
	        <h1>About us</h1>
	        <p>We are a team of motivated designers and developers that have great passion for frontend and web development and believe in sharing our knowledge and build a healthy community where people get motivated and get support from each other.</p>
	      </div>
		</section>
	</body>
</html>
