<!DOCTYPE html>
<html lang="en">
<style>
	.about {
		margin: 20%;
		border: 3px solid #0bfa15;
		background-color: #f2f2f2;

  }
</style>
{% include './partials/header.html' %}
{% include './partials/nav.html' %}
	<body style="background-color:#333">
		<section id="about">
	      <div class="about">
					About NFTLY:
					Welcome to NFTLY, your own personal poem platform. In this experience, the creator will be able to publish their works and allow for critique through the usage of up and down votes by other app users. The votes of the honest community will then determine its value in the marketplace, where users can purchase the works as NFT. 

					About Us:
					We are a group of passionate Johnson & Wales tech students who want to create an environment to allow for today's poets to express their inner thoughts through a blog-like space. With user collaberation through up and down votes, you can allow the audience a sight into your mind and your creative perspectives.

					Future of NFTLY:
					We are hoping to be able to turn our poets' wonderful stories into an NFT. This will allow for their creative imagery through words to shine through the readers eyes that may want to claim the works as a treasure to their heart. This is our next essential goal to make an in-app marketplace a more feasible goal.

					Struggles:
					Implementing Agoric to create authentication for NFTs in our given time limit was rough. We looked into it, but determined that given our time given, and team knowledge available, that this will be a future endeavor of ours.
				</div>
		</section>
	</body>
</html>
