<!DOCTYPE html>
<html lang="en">
{% include './partials/header.html' %}
{% include './partials/nav.html' %}

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
  crossorigin="anonymous"
/>

<div class="loginform col-12 d-flex justify-content-center" >
  <h1 id="login-header">Login</h1>


  <div>
            {% include './partials/_sawo.html' %}
  </div>

  <a href='/'>
      <button class="GFG">
          Back to Home
      </button>
  </a>
</div>
<div class="loginform"></div>
</html>
