<!DOCTYPE html>
<html lang="en">
<style>
	.contentx{
		text-decoration: underline;
		font-size: 35px;
		color: #f2f2f2;
		text-align: center;
		overflow: hidden;
		padding:0;
		margin:0;
		border:0;
	}
	.submit {
		text-color: #f2f2f2;
		padding: 5px 5px 10px 10px;
		background-color: #448feb;
		font-size: 20px;
	}

	h1 {
		color: #f2f2f2;
		text-align: center;
		font-size: 50px;
		font-family: Monospace;
		padding: 20px 0px 0px 0px;
	}
</style>
{% include './partials/header.html' %}
{% include './partials/nav.html' %}
<body style="background-color:#333">
{% include './partials/posts.html' %}
<form action='/new_post' method='post'>
	<h1>New Post:</h1>
  <div class="contentx">
  <textarea name="text" id="content" cols="50" rows="4"></textarea><br>
  <div  style="submit">
  <input class="buttonz" type="submit" value="Make it NFTLY!">
  </div>
  </div>
</form>
</body>
<script>
function check_words(e) {
    var BACKSPACE  = 8;
    var DELETE     = 46;
    var MAX_WORDS  = 20;
    var valid_keys = [BACKSPACE, DELETE];
    var words      = this.value.split(' ');

    if (words.length >= MAX_WORDS && valid_keys.indexOf(e.keyCode) == -1) {
        e.preventDefault();
        words.length = MAX_WORDS;
        this.value = words.join(' ');
    }
}

var textarea = document.getElementById('content');
textarea.addEventListener('keydown', check_words);
textarea.addEventListener('keyup', check_words);
</script>
</html>
